body {
    visibility: hidden;
}

/* util */
.util_td_n {
    text-decoration: none;
}

.util_td_u {
    text-decoration: underline;
}

.util_cur_p {
    cursor: pointer;
}

.util_ta_c {
    text-align: center !important;
}

.util_ta_l {
    text-align: left !important;
}

.util_ta_r {
    text-align: right !important;
}

/*
.util_fl_l {
  float: left;
}

.util_fl_n {
  float: none;
}

.util_fl_r {
  float: right;
}
*/
.util_d_b {
    display: block;
}

.util_d_i {
    display: inline;
}

.util_d_ib {
    display: inline-block;
}

.util_d_n {
    display: none;
}

.util_va_b {
    vertical-align: bottom;
}

.util_va_m {
    vertical-align: middle;
}

.util_va_t {
    vertical-align: top;
}

.util_mt_smaller {
    margin-top: 5px;
}

.util_mt_small {
    margin-top: 10px;
}

.util_mt_medium {
    margin-top: 15px;
}

.util_mt_large {
    margin-top: 20px;
}

.util_mt_larger {
    margin-top: 30px;
}

.util_mb_smaller {
    margin-bottom: 5px;
}

.util_mb_small {
    margin-bottom: 10px;
}

.util_mb_medium {
    margin-bottom: 15px;
}

.util_mb_large {
    margin-bottom: 20px;
}

.util_mb_larger {
    margin-bottom: 30px;
}

.util_ml_smaller {
    margin-left: 5px;
}

.lang_en {
    margin-left: 0px;
}

.util_ml_small {
    margin-left: 10px;
}

.util_ml_medium {
    margin-left: 15px;
}

.util_ml_large {
    margin-left: 20px;
}

.util_ml_larger {
    margin-left: 30px;
}

.util_mr_smaller {
    margin-right: 5px;
}

.util_mr_small {
    margin-right: 10px;
}

.util_mr_medium {
    margin-right: 15px;
}

.util_mr_large {
    margin-right: 20px;
}

.util_mr_larger {
    margin-right: 30px;
}

.util_pt_smaller {
    padding-top: 5px;
}

.util_pt_small {
    padding-top: 10px;
}

.util_pt_medium {
    padding-top: 15px;
}

.util_pt_large {
    padding-top: 20px;
}

.util_pt_larger {
    padding-top: 30px;
}

.util_pb_smaller {
    padding-bottom: 5px;
}

.util_pb_small {
    padding-bottom: 10px;
}

.util_pb_medium {
    padding-bottom: 15px;
}

.util_pb_large {
    padding-bottom: 20px;
}

.util_pb_larger {
    padding-bottom: 30px;
}

.util_pl_smaller {
    padding-left: 5px;
}

.util_pl_small {
    padding-left: 10px;
}

.util_pl_medium {
    padding-left: 15px;
}

.util_pl_large {
    padding-left: 20px;
}

.util_pl_larger {
    padding-left: 30px;
}

.util_pr_smaller {
    padding-right: 5px;
}

.util_pr_small {
    padding-right: 10px;
}

.util_pr_medium {
    padding-right: 15px;
}

.util_pr_large {
    padding-right: 20px;
}

.util_pr_larger {
    padding-right: 30px;
}


.util_clear, .util_clearfix {
    zoom: 1;
}

.util_clear:before, .util_clearfix:before {
    content: " ";
    display: block;
}

.util_clear:after, .util_clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

.util_bfc {
    overflow: hidden;
    zoom: 1;
}

.util_tof {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: normal;
}

.util_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.util_flex_item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block !important;
    width: 0;
}

/* 公共样式 */
.record_btn {
    display: block;
    position: relative;
    height: 56px;
    line-height: 56px;
    color: #000;
    font-size: 17px;
    margin-left: 14px;
    margin-right: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.record_btn .arrow {
    margin-right: 3px;
}

.recordWrap {
    width: 100%;
    display: none;
    margin-bottom: 0;
}

.recordWrap:active {
    background-color: #E6E8EB;
}

.main {
    position: relative;
    display: block;
    background: #fff;
    margin-bottom: 12px;
}

.main_border:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 1px;
    background-color: #D9D9D9;
    display: block;
    z-index: 1;
    transform: scaleY(0.5);
    transform-origin: 0 0;
}

.main_border:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 1px;
    background-color: #D9D9D9;
    display: block;
    z-index: 1;
    transform: scaleY(0.5);
    transform-origin: 0 100%;
}

.arrow {
    float: right;
    display: inline-block;
    width: 7px;
    height: 7px;
    vertical-align: top;
    margin-top: 23px;
    border-color: #C7C7CC;
    border-width: 0 2px 2px 0;
    border-style: solid;
    transform: rotateZ(-45deg);
}

/* 公共样式 */

.analysisWrap {
    padding: 14px;
    background-color: #fff;
    padding-bottom: 5px;
}

.analysisHeader {
    color: #000000;
    font-size: 17px;
}

.analysisFilter {
    height: 40px;
    line-height: 40px;
    font-size: 1.7rem;
    color: #9CA4AD;
}

.analysisFilter span {
    position: relative;
    display: inline-block;
    margin-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.analysisFilter span.current {
    color: #2F7DCD;
}

.analysisFilter span.current:after {
    display: block;
    content: '';
    background-color: #2F7DCD;
    height: 2px;
    width: 20px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -10px;
}

.analysisSection {
    margin-top: 20px;
}

.analysisSection_table {
    width: 100%;
    table-layout: fixed;
}

.analysisSection_table td {
    width: 50%;
}

.analysisSection_card {
    width: auto;
    /*height: 72px;*/
    padding-bottom: 14px;
    border-radius: 4px;
    background-color: #F9F9F9;
    border: 1px solid #FFF;
    margin-right: 5px;
    margin-bottom: 10px;
}

.analysisSection_card.even {
    margin-left: 5px;
    margin-right: 0px;
}

.analysisSection_card_title {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 13px;
    /*font-size: 1.4rem;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.analysisSection_card_subTitle {
    margin-left: 16px;
    /*font-size: 22px;*/
    font-size: 2.2rem;
    color: #2D3034;
}

.analysisSection_card_subTitle sub {
    vertical-align: baseline;
    /*font-size: 14px;*/
    font-size: 1.4rem;
    margin-left: 3px;
    vertical-align: 1px;
    font-weight: normal;
}

.analysisSection_card.current {
    background-color: #E5F1FF;
}

.analysisSection_card.current .analysisSection_card_title, .analysisSection_card.current .analysisSection_card_subTitle {
    color: #2F7DCD;
}

.analysisSection_card_Spe1 .analysisSection_card_title {
    margin-left: 11px;
    margin-right: 11px;
}

.en .analysisSection_card_Spe1 .analysisSection_card_title {
    white-space: pre-wrap;
    margin-bottom: 5px;
}

.analysisContent .analysisHeader {
    font-size: 14px;
    color: #9B9B9B;
    margin-bottom: 5px;
}

.analysisContent_inner {
    padding-top: 30px;
}

.analysisTab {
    position: relative;
    margin-top: 8px;
}

.analysisFilter_inner {
    font-size: 0;

}

.analysisTab:after {
    content: '';
    position: absolute;
    left: -14px;
    bottom: 0px;
    right: -14px;
    height: 1px;
    background-color: #E6E6E6;
    display: block;
    z-index: 1;
    transform: scaleY(0.5);
    transform-origin: 0 0;
}

.analysisFilter_inner {
    margin-left: -12px;
}

.analysisFilter_item {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 26%;
}

.analysisFilter_item:first-child {
    /*padding-left: 0;*/
}

.analysisFilter_item_link {
    display: inline-block;
    font-size: 15px;
    line-height: 21px;
    color: #999;
    font-weight: 500;
    width: 100%;
}

.analysisFilter_item_Current .analysisFilter_item_link {
    color: #000;
}

.analysisFilter_item_Current::after {
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #2F7DCD;
    content: '';
    bottom: 1px;
    left: 50%;
    margin-left: -20px;
    z-index: 2;
}

.log_count_chart {
    margin: 0;
    position: absolute;
    top: 70px;
    left: 8px;
    right: 8px;
    bottom: 20px;
}

.log_chartPanel {
    display: block;
    z-index: 10000;
    color: #fff;
    font-size: 12px;
    padding: 4px 16px;
    padding-top: 5px;
    padding-left: 17px;
}

.log_chartPanel_item {
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
}

.log_chartPanel_item {
    vertical-align: top;
    padding-left: 16px;
    height: 34px;
}

.log_chartPanel_item_label {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    text-align: left;
}

.log_chartPanel_item_value {
    text-align: left;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    padding: 0px;
}

.log_chartPanel_item_Use {
    position: relative;
    text-align: left;
    font-weight: 500;
    color: #fff;
}

.log_chartPanel_item_dateWrap {
    line-height: 34px;
    height: 34px;
}

.log_chartPanel_item_date {
    position: relative;
    padding-right: 16px;
}

.log_chartPanel_item_date:after {
    content: '';
    display: block;
    position: absolute;
    right: 0px;
    top: 3px;
    bottom: 3px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: scaleX(0.5);
}

.log_chartPanel_item:first-of-type {
    padding-left: 0;
}

#use_analysis_container {
    height: 204px;
}

.use_analysis_container_empty {
    display: none;
    text-align: center;
    line-height: 258px;
    font-size: 16px;
}

.group_wrap {
    font-size: 15px;
    line-height: 18px;
    height: 18px;
    padding: 14px 14px;
    text-align: center;
    overflow: hidden !important;
}

.group_wrap:active {
    background-color: #F5F5F5;
}

.group_text {
    color: #9B9B9B;
    max-width: 90%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.group_text_title:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 15px;
    margin-right: 3px;
    vertical-align: -2px;
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNCAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC4xODcgMTIuNzI5VjYuNzVsNC41Ni01LjQyOEEuNS41IDAgMCAwIDEyLjM2NS41SDFhLjUuNSAwIDAgMC0uMzg0LjgyTDUuMTg3IDYuOHY3LjMwOGwzLTEuMzh6IiBmaWxsPSIjRkZGIiBzdHJva2U9IiM5Nzk3OTciIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==') no-repeat center;
}

.group_wrap.highlight .group_text_title, .group_wrap.highlight .group_text {
    color: #2F7DCD;
}

.group_wrap.highlight .group_text_title:before {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNCAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC4xODIgMTIuNzM2di0uMDAxem0uMDAyLS4wMWMuMDAyLS4wMTMuMDAzLS4wNC4wMDMtLjExN1Y2Ljc1bDQuNTYtNS40MjhBLjUuNSAwIDAgMCAxMi4zNjUuNUgxYS41LjUgMCAwIDAtLjM4NC44Mkw1LjE4NyA2Ljh2Ny4zMDhsMi44OTItMS4zM2MuMDY5LS4wMzEuMDk0LS4wNDQuMTA1LS4wNTF6IiBmaWxsPSIjRkZGIiBzdHJva2U9IiMyRjdEQ0QiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==') no-repeat center;
}

/* PC端样式 start */
.pc .analysisWrap {
    position: absolute;
    top: 0px;
    bottom: 46px;
    left: 0px;
    right: 0px;
    padding: 0px;
    background-color: #FAFAFA;
    margin-top: 15px;
}

.pc .main {
    margin-bottom: 0;
}

.pc .analysisFilter {
    font-size: 12px;
    text-align: right;
    color: #000;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 16px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 80px;
}

.pc .analysisSection_card {
    cursor: pointer;
    border: 1px solid #FAFAFA;
    background-color: #FAFAFA;
}

.pc .analysisSection_card.current {
    background-color: #E8F1F8;
}


.pc .analysisSection_card:hover {
    background-color: #F2F3F5;
}

.pc .analysisFilter_selectParty {
    display: block;
    float: right;
    height: 40px;
}

.pc .analysisFilter_selectParty:before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 1px;
    background-color: #D8D8D8;
    vertical-align: 14px;
    margin-right: 16px;
}

.pc .analysisFilter_selectParty_title {
    margin-right: 0px;
}

.pc .analysisFilter_selectParty .arrow {
    vertical-align: 5px;
}

.pc .analysisFilter span.current:after {
    display: none;
}

.pc .analysisFilter span {
    max-width: 200px;
}

.pc .analysisHeader {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0px 16px;
    color: #000;
    position: relative;
    min-width: 640px;
}

.pc .arrow_down {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMiAxMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNy4yMDIgOS40MDFWNS4xMTVsNC4yNDgtNC4wNjNhLjM4Ny4zODcgMCAwIDAtLjI2OC0uNjY1SC44MThhLjM4Ny4zODcgMCAwIDAtLjI2Ni42NjdsNC4yODUgNC4wNnY1LjVsMi4zNjUtMS4yMTN6IiBzdHJva2U9ImdyYXkiIHN0cm9rZS13aWR0aD0iLjc3MyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+') no-repeat center;
    vertical-align: 14px;
}

.pc .analysisSection {
    padding: 0px 16px;
    margin-top: 15px;
}

.pc .analysisSection_table td {
    width: 25%;
}

.pc .analysisContent {
    position: absolute;
    top: 215px;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

.pc #use_analysis_container {
    height: 100%;
}

.pc .record_btn {
    display: block;
    position: absolute;
    height: 46px;
    line-height: 46px;
    color: #000;
    font-size: 14px;
    margin-left: 18px;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.pc .record_btn .arrow {
    margin-right: 2px;
}

.pc .record_btn:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 1px;
    background-color: #E6E6E6;
    display: block;
    z-index: 1;
    transform: scaleY(0.5);
    transform-origin: 0 100%;
}

.pc .analysisSection_card_title {
    color: #9CA4AD;
    font-size: 12px;
}

.pc .analysisFilter_item {
    padding-top: 13px;
    padding-bottom: 13px;
}

/* PC端样式 end */

/* ios */

.ios .analysisHeader {
    margin-bottom: 13px;
}

.ios .analysisContent .analysisHeader {
    margin-top: 14px;
    margin-bottom: 6px;
}

.ios .analysisFilter {
    margin-top: 10px;
    line-height: 26px;
    height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ios .analysisFilter span {
    max-width: 40%;
}

.ios .analysisSection_card_subTitle {
    font-weight: 500;
}


/* ios */

.arrow_down_normal {
    position: relative;
    padding-right: 15px;
}

.arrow_down_normal:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 0;
    margin-top: -5px;
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDEwIDUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgLjI0M2w0LjI0MyA0LjI0Mkw5LjQ4NS4yNDMiIHN0cm9rZT0iIzlEOUQ5RCIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=') no-repeat center;
}

.arrow_down_normal.current:before {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDEwIDUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgLjI0M2w0LjI0MyA0LjI0Mkw5LjQ4NS4yNDMiIHN0cm9rZT0iIzNDOTNGMyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=') no-repeat center;
}

.pc .arrow_down_normal {
    padding-right: 16px;
}

.pc .arrow_down_normal:before {
    width: 16px;
    height: 16px;
    margin-top: -8px;
}

.pc .analysisTab {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0;
}

.pc .analysisFilter_item_link {
    font-size: 13px;
}

@media screen and (max-width: 720px) {
    .pc .analysisFilter span {
        max-width: 160px;
    }
}


.ww_horizontalTab {
    display: inline-block;
    font-size: 13px;
}

.ww_horizontalTab_tabNav {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.ww_horizontalTab_Nav_item {
    float: left;
    line-height: 22px;
    height: 22px;
    width: 60px;
    text-align: center;
}

.ww_horizontalTab_Nav_item_single {
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    padding: 0 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    min-width: 40px;
    max-width: 120px;
}

.ww_horizontalTab_Nav_itemLink {
    text-align: center;
    white-space: nowrap;
    color: #9B9B9B;
}

.ww_horizontalTab_Nav_item_left {
    border: 1px solid #EBEBEB;
    border-radius: 12px 0px 0px 12px;
    border-right: 0;
}

.ww_horizontalTab_Nav_item_middle {
    border-right: 0;
    border: 1px solid #EBEBEB;
}

.ww_horizontalTab_Nav_item_right {
    border: 1px solid #EBEBEB;
    border-radius: 0px 12px 12px 0px;
    border-left: 0;
}

.ww_horizontalTab_Nav_item.current {
    background: #EBEBEB;
}

.ww_horizontalTab_Nav_item.current .ww_horizontalTab_Nav_itemLink {
    color: #000;
}

@media screen and (max-width: 320px) {
    .ww_horizontalTab_Nav_item_single label {
        display: inline-block;
        max-width: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.en .analysisWrap {
    padding-left: 0;
    padding-right: 0;
}

.en .analysisFilter_item {
    max-width: 100%;
}

.en .analysisFilter_inner {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.en .analysisTab {
    position: relative;
}

.en .analysisFilter_inner {
    margin-left: 0;
}

.en .analysisTab:after {
    left: 0;
    right: 0;
}

.en .analysisFilter, .en .analysisSection, .en .analysisContent {
    padding-left: 14px;
    padding-right: 14px;
}

.en .record_btn {
    font-size: 14px;
}